<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime list</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
    <form action="submit" method="get">
        <input type="text" name="search" placeholder="Wanna see anime ? Type it.">
        <button type="submit">Search</button>

    </form>

    <% if (content) { %>
     <h1 class="submit-anime"><%= content.title_en %><%= `(${content.title_jpn})` %> <%= `${content.release_date}` %></h1>
     <img src="<%= content.image %>" alt="">
     <h3><a href="<%= content.url %>">Anime link</a></h3>
     <button style="margin-top: 1rem;"><a href="/" style="color: black; padding:2px 2px; display: inline-block;border-radius: 75%;">Homepage</a></button>
    <% } %>


    
        <% if (!content && animes && animes.length > 0) { %>
            <div class="animeList">
    <h2>Most popular animes</h2>
    <div class="animes">
              <% animes.forEach(anime => { %>
            <div class="anime">
                <img src="<%= anime.images.jpg.image_url %>" alt="" width="150px">
                <h3><a href="<%= anime.url %>" style="color: #fff; text-decoration: none;"><%= anime.title %></a></h3>
                <p>⭐ <%= anime.score %></p>
                <p>📅 <%= anime.year %></p>
                
            </div>
        <% }); %>
    </div>
<% } %>

</div>

        </div>
    </div>
    </div>
</body>
</html>